.wizard, .wizard__results {
    max-width: 640px;
    margin: 20px auto;
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.wizard__step-title {
    background-color: #45a049;
    color: white;
    padding: 20px 4px;
    text-align: center;
    font-size: 2em;
    margin: 0 0 20px 0;
}

.wizard__step-section-title {
    color: #999;
    font-size: 1.4em;
}

.wizard__step-section-title:before {
    content: 'âŸ';
    margin-right: 5px;
    position: relative;
    top: -2px;
    
}

.wizard__results {
    text-align: center;
}
.wizard__results ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}
.wizard__results button {
    width: 100%;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.wizard__RadioList {
    --wiz-field-label-display: inline-block;
    display: flex;
    justify-content: space-between;
    max-width: 180px;
}
.wizard__RadioList input {
    width: auto;
}

button {    
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#wizNextBtn {
    background-color: #4CAF50;
    color: white;
}

/* Add a background color to the submit button on mouse-over */
#wizNextBtn:hover {
    background-color: #45a049;
}

  
  /* Mark input boxes that gets an error on validation: */
input.error {
    background-color: #ffdddd;
}

.invalid .wizard {
    border-color: red;
}

/* Style a specific field */
[data-field="emailType"] > label {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    --wiz-field-label-margin: 0 0 10px 0;
}